---
import {Image} from 'astro:assets';
import aboutMeImg from '../assets/images/aboutMeImg.png'
---
<section id="about" class="border-b border-(--border-color)">
  <div class="max-w-7xl mx-auto px-6 py-12 md:py-26">
    <header class="mb-8 md:hidden">
      <h2>Sobre mí</h2>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 items-center">
      <!-- Imagen (izquierda en desktop) -->
      <div class="order-1 md:order-1">
        <div class="aspect-square rounded-2xl overflow-hidden bg-(--bg-secondary)">
          <Image
            src={aboutMeImg}
            alt="Imagen Sebastian Villa - Sobre mí"
            class="w-full h-full object-cover"
            width={600}
            height={600}
            loading="lazy"
          />
        </div>
      </div>

      <!-- Contenido (derecha en desktop) -->
      <div class="order-2 md:order-2 space-y-8">
        <header class="hidden md:block">
          <h2>Sobre mí</h2>
        </header>

        <div class="space-y-4 whitespace-pre-line">
          <p>
            Soy desarrollador de software con interés en construir aplicaciones
            modernas y seguras, combinando desarrollo backend y principios de
            ciberseguridad.
                    
            Me enfoco en escribir código limpio, escalable y mantenible, integrando
            buenas prácticas de seguridad desde el diseño.
                   
            Actualmente estoy fortaleciendo mis conocimientos en ciberseguridad,
            análisis de vulnerabilidades y desarrollo seguro.
          </p>
        </div>

        <aside class="grid grid-cols-2 gap-4">
          <!-- Años de experiencia -->
          <div class="border border-(--border-color) rounded-lg p-6 text-center space-y-2 transition-transform duration-300 hover:-translate-y-2">
            <p class="text-4xl font-bold text-(--accent-green)">2+</p>
            <p class="text-sm text-(--text-secondary)">Años de experiencia</p>
          </div>

          <!-- Proyectos completados / Certificaciones / Tecnologías -->
          <div class="border border-(--border-color) rounded-lg p-6 text-center space-y-2 transition-transform duration-300 hover:-translate-y-2">
            <p class="text-4xl font-bold text-(--accent-cyan)">10+</p>
            <p class="text-sm text-(--text-secondary)">Proyectos completados</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>