---
---
<section id="hero">
  <header>
    <h1>Software Developer & Cybersecurity Enthusiast</h2>
  </header>

  <p>
    Desarrollo aplicaciones seguras, modernas y escalables,
    combinando buenas prácticas de desarrollo con principios de ciberseguridad.
  </p>

  <nav>
    <a href="#">Ver proyectos</a>
    <a href="#">Contactarme</a>
  </nav>
</section>
